body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   
}

.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #1c3952;
    top: 0;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.navbar ul li {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin: 10px 20px;
}

a:link,a:visited,a:hover {
    color: white;
    text-decoration: none;
}

.contentWrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
}

h1 {
    margin: 120px auto 50px auto;    
}

.leafletMap {
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
    background-color: #5a86ab;
}

.barChart {
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    margin: 1em auto;
}

.list-data {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.list-data p {
    margin: .25em 0;
    padding: 0;
}

.list {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
    height: 500px;
    padding: 1em;
    background-color: #e0e0e0;
    box-sizing: border-box;
}

.liner {
    width: 100%;
    display: block;
    border: 1px solid #000;
    margin: 10px 0;
}

/* d3 styles */
.bar {
    fill: #5f89ad;
}

.axis {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}


@media only screen and (max-width: 770px) {
    .navbar ul {
        width: 100%;
        justify-content: center;
    }

    .list-data p {
        font-size: .85em;
    }
}

/* dropdown button styling */






body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: #1c3952;
    top: 0;
    z-index: 100;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
.navbar ul li {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin: 10px 20px;
}
a:link,a:visited,a:hover {
    color: white;
    text-decoration: none;
}
.contentWrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
h1, h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
}
h1 {
    margin: 120px auto 50px auto;    
}
.leafletMap {
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
    background-color: #5a86ab;
}
.barChart {
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    margin: 1em auto;
}
.list-data {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.list-data p {
    margin: .25em 0;
    padding: 0;
}
.list {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    overflow: scroll;
    height: 500px;
    padding: 1em;
    background-color: #e0e0e0;
    box-sizing: border-box;
}
.liner {
    width: 100%;
    display: block;
    border: 1px solid #000;
    margin: 10px 0;
}
/* d3 styles */
.bar {
    fill: #5f89ad;
}
.axis {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.axis path,
.axis line {
    fill: none;
    display: none;
}
.label {
    font-size: 13px;
}
@media only screen and (max-width: 770px) {
    .navbar ul {
        width: 100%;
        justify-content: center;
    }
    .list-data p {
        font-size: .85em;
    }
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .ddwrapper{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px auto;
    z-index: 100;
  }




  /* login page styling */

  .fullWidth {
    background-image: url("Assets/TucsonCity.jpeg");
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    position: absolute;
}
.topCentered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
    color: #1c3952;
    font-family: Georgia, Times, 'Times New Roman', serif;
    
  }
.responsive {
    max-width: 100%;
    height: auto;
  }
.container {
    position: relative;
  }
body
{
    margin: 0;
    padding: 0;
    background: #EFEFEF;
    font-size: 16px;
    color: #1c3952;
    font-family: sans-serif;
    font-weight: 600;
    background-image: url(/public/assets/jimages/TucsonCity.jpeg);
   
}
#login-box
{
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    margin: 5% auto;
    height: 400px;
    width: 600px;
    background: rgba(255,255,255,.75);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
} 
.left-box
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px; 
     
}
h1
{
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    display: block;
      
}
input[type="text"],
input[type="password"]
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}
input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #1c3952;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
    background: #1c3952;
    transition: 0.2s ease;
}
.right-box
{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 153, 255, 0);
}
.or
{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #EFEFEF;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
}
.right-box .signin
{
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    
}
button
{
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: rgb(75, 69, 69);
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}
input[type="submit2"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: #1c3952;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;    
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
    
}
input[type="submit2"]:hover,
input[type="submit2"]:focus
{
    background: #1c3952;
    transition: 0.2s ease;
}
@media only screen and (max-width: 770px) {
    #login-box {
        width: 100%;
    }
    .fullWidth {
        background-image: url("Assets/jimages/TucsonCity.jpeg");
        width: 100%;
        height: 100%;
        background-position: top;
        background-size: cover;
        position: absolute;
    }
    
    
    .topCentered {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 40px;
        color: rgb(236, 163, 5);
        font-family: Georgia, Times, 'Times New Roman', serif;
    }    
    .right-box
{
    position: relative;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
}
    .or
{
    position: relative;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #EFEFEF;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    line-height: 40px;
    text-align: center;
    display: none;    
}
    .left-box
{
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px; 
     
}
    
}





















